/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font: 400 19px/1 'Raleway', Arial, tahoma, verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

input{
	outline: none;
}
.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.header .container {
    max-width: 1220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header{
	background-color: black;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
}
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
}
.a {
    margin: 0 42px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.menu a {
    color: #00c0ff;
}
.a:hover{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	color: #E19544;
}
.mobile-button{
	position: relative;
	width: 32px;
	height: 32px;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	cursor: pointer;
}
.mobile-button span{
	display: block;
	height: 4px;
	width: 100%;
	background: #00c0ff;
	z-index: 5;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: 1;
}
.mobile-button:before,
.mobile-button:after{
	content: '';
	height: 4px;
	width: 100%;
	background: #00c0ff;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.mobile-button:after{
	top: auto;
	bottom: 0;
}
.main{
    min-height: 100vh;
    background: url("../images/banner.jpg") no-repeat 100% 0;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 384px 0 160px;
	color: white;
	text-align: center;
}
.main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.sport{
	margin-bottom: 80px;
}
.p{
	padding: 0 150px;
}
.button-wrapper{
	text-align: center;
	margin: 0 0 15px;
	padding: 120px 0 0 0;
}
.btn{
	display: inline-block;
	vertical-align: top;
	background: rgba(255, 255, 255, .8);
	padding: 15px 35px;
	border-radius: 20px;
	text-align: center;
	color: #00c0ff;
	border: 2px solid #000;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.btn:hover{
	background: #3961DF;
	color: #39DF96;
}
.mobile-button.opened span{
	opacity: 0;
}
.mobile-button.opened:before{
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: calc(50% - 2px);
}
.mobile-button.opened:after{
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	bottom: calc(50% - 2px);
}
.main-2{
    min-height: 80vh;
    background-color: #000000;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 80px 0 80px;
	color: #00c0ff;
	text-align: center;
}
.main-2 .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.h1{
	margin-bottom: 50px;
}
.p-2{
	line-height: 2;
}
.main-3{
    background-color: #1b1b1b;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0 80px;
	color: #ffffff;
}
.main-3 .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
.h4{
	margin-bottom: 40px;
}
.p-3{
	padding: 0 10px 0 0;
}

.priorities{
	padding: 90px 0 95px;
	background: url("../images/priorities.jpg") no-repeat 100% 0;
	background-size: cover;
}
.title-29{
	font-size: 29px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 40px;
	font-family: Roboto, Raleway, Arial, sans-serif;
	color: #00c0ff;
}
.title-38{
	font-size: 38px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #00c0ff;
	font-family: Roboto, Raleway, Arial, sans-serif;
	font-weight: 400;
}
.text{
	font-size: 21px;
	line-height: 33px;
	color: #00c0ff;
	text-align: center;
	margin: 0 auto 80px;
	max-width: 980px;
}
.row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.col-33{
	width: calc(33.3% - 23px);
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin: 0 0 30px;
}
.col-50{
	width: calc(50% - 15px);
}	
.priorities .col-33{
	text-align: center;
	background: rgba(3, 3, 3, 0.5);
	padding: 58px 85px 75px; 
}
.priorities .col-33 h5{
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	margin:  0 0 55px;
	font-family: Robobto, Raleway, Arial, sans-serif;
	font-weight: 700;
}
.priorities .col-33 p{
	font-size: 17px;
	color: #fff;
	line-height: 1.2;
	text-align: left;
	margin: 0 0 55px;
}
.author__name{
	font-size: 15px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 2px;
	font-family: Robobto, Raleway, Arial, sans-serif;
	font-weight: 700;
}
.author__position{
	color: #fff;
	font-size: 15px;
}
.tabs__content {
  display: none; 
}
.tabs__content.active {
  display: block; 
}
.what_we_do{
	padding: 140px 0 120px;
	background: #000;
	text-align: center;
}
.what_we_do .text{
	margin-bottom: 75px;
}
.tabs__caption li{
	font-size: 17px;
	color: #00c0ff;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}
.tabs__caption li.active{
	color: #000;
	background: #00c0ff;
}
.tabs__caption{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.tabs__content{
	color: #fff;
	padding-top: 70px;
}
.projects__item{
	max-width: 200px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.projects__item img{
	max-width: 100px;
	height: auto;
	margin: 0 0 45px;
}
.projects__item p{
	font-size: 17px;
	margin: 0 0 55px;
} 
.projects__item h5{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
	margin: 0 0 50px;
}

.quote{
	background: #1b1b1b;
	background-size: cover;
	padding: 120px 0 65px;
	color: #00c0ff;
	text-align: center;
}
.p-quote{
	margin: 0 245px;
	padding: 0 0 50px;
	line-height: 1.5;
	font-family: Raleway, Arial, sans-serif;
	font-weight: 600;
	font-size: 15px;
}
.quote__name{
	font-size: 15px;
	margin-bottom: 2px;
	font-family: Raleway, Arial, sans-serif;
	font-weight: 600;
}
.nature{
	background: #000;
	padding: 185px 0 330px;
	position: relative;
}
.nature .text{
	text-align: left;
	margin-bottom: 0;
}
.nature__image{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: 5;
	background: url("../images/nature.jpg") no-repeat 0 50%;
	background-size: cover;
}
.nature .col-50{
	padding-right: 50px;
}
.tickets{
	background: url("../images/tickets.jpg") no-repeat 50% 50%;
	background-size: cover;
	padding: 200px 0 200px;
	color: #fff;
	text-align: right;
}
.tickets .row,
.tickets .button-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.title-40{
	margin: 0px 0 0 285px;
	font-size: 50px;
	margin-bottom: 25px;
	font-family: Robobto, Raleway, Arial, sans-serif;
	font-weight: 700;
}
.text-tickets{
	margin: 0 0 0 267px;
    font-size: 15px;
	line-height: 1.2;
	font-family: Robobto, Raleway, Arial, sans-serif;
	font-weight: 400;
}
.tickets .btn{
	display: inline-block;
	vertical-align: top;
	background: rgba(255, 255, 255, .8);
	padding: 15px 60px;
    border-radius: 35px;
	text-align: center;
	color: #00c0ff;
	border: 1px solid #000;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.btn:hover{
	background: #3961DF;
	color: #39DF96;
}
.tickets .button-wrapper{
	font-size: 20px;
	padding: 50px 0 0;
}
@media(max-width: 1100px){
	.col-33 .priorities{
		padding: 35px 30px 45px;
	}
	.priorities .col-33 h5
	.priorities .col-33 p{
		margin-bottom: 30px;
	}
}
@media(max-width: 800px){
	.main{
		font-size: 15px;
		padding: 284px 10px;
	}
	.btn{
		padding: 10px 20px;
	}
	.mobile-button{
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.menu{
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		padding: 20px 15px;
		text-align: center;
		background: #000;
		z-index: 20;
	}
	.header{
		top: 0;
	}
	.header .container{
		padding: 8px 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
@media(max-width: 768px){
	.col-33{
		width: calc(50% - 15px);
		margin-bottom: 30px;
	}
	.priorities{
		padding: 60px 0 65px;
	}
	.text{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 40px;
	}
	.title-29{
		font-size: 24px;
		margin-bottom: 25px;
	}
	.title-38{
		font-size: 28px;
	}
}
@media(max-width: 600px){
	p{
		font-size: 20px;
		padding: 184px 0;
	}
	.main-3 .col-33{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.col-50{
		width: 100%;
	}
	.nature__image{
		display: none;
	}
	.nature{
		padding: 60 px 0 65px;
	}
	.nature .col-50{
		padding-right: 0;
	} 
}
@media(max-width: 480px){
	.col-33{
		width: 100%;
	}
	.priorities .col-33 p{
		text-align: center;
	}
}s